@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
    border: solid;
    --tw-border-opacity: 1;
    border-color: rgb(220 38 38 / var(--tw-border-opacity));
    border-width: 2px;
}

.debug2 {
    border: solid;
    --tw-border-opacity: 1;
    border-color: rgb(0 255 0 / var(--tw-border-opacity));
    border-width: 2px;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap')